@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');

html, body {
  height: 100%;
  width: 100%;
}

body {
	margin:0;
	background:url("plants.png");
	background-position:center;
	font-family: 'Comfortaa', cursive;
}


header {
	display:flex;
	flex-direction:column;
	justify-content:space-evenly;
	align-items:center;
	height: 20vh;
	width: 100vw;
	background-color: rgba(0,0,0,0.5);
	color:white;
}

header h1 {
	text-align:center;
	margin:0;
}

header a {
	text-decoration: none;
	color:white;
}


nav ul {
	display:flex;
	justify-content:space-evenly;
	list-style-type:none;
	padding:0;
	margin:0;
	width:50vw;
}

nav ul li {
	height:fit-content;
	border:1px solid white;
	width:min(100px, 30%);
	text-align:center;
	border-radius: 1em;
}

nav ul li:hover{
	background-color:rgba(255,255,255, 0.3);
}

nav ul li:active{
	background-color:rgba(100,255,100, 0.3);
}
nav ul li a {
	display:flex;
	justify-content:center;
	align-items:center;
	width:100%;
	height:3rem;
	color:white;
	text-decoration:none;
}

main {
	height:70vh;
	width: 100vw;
	overflow-y:scroll;
	overflow-x:hidden;
	scroll-behavior:smooth;
	
}

.section1 {
	height:70vh;
	width: 100vw;
	overflow:none;
	display: flex;
	justify-content: center;
	align-items:center;
}



.section1-container {
	opacity:0;
	display:flex;
	justify-content:space-evenly;
	align-items:center;
	height: 100%;
	width: 80%;
	overflow:none;
	animation-name:fadeInDown;
	animation-duration:1.5s; 
	animation-delay:1s;
	animation-fill-mode:forwards;
}

.section1 h1{
	color:white;
	font-size:4em;
}

.art-div {
	width: 300px;
	height: 300px;
	border:1px solid white;
	animation-name:rotation;
	animation-duration:30s; 
	animation-iteration-count:infinite;
	animation-timing-function:linear;
	animation-fill-mode:forwards;
}

.art-div:hover {
	animation-name:none;
}


@keyframes rotation{
	100% {
		transform: rotate3d(0,0,1, 360deg);
	}
}


.projectsection {
	color: white;;
	display:flex;
	flex-direction: column;
	justify-content:space-evenly;
	align-items:center;
	height:70vh;
	width: 100vw;
	overflow:none;
}

.projectsection div {
	display:flex;
	justify-content:center;
	align-items:center;
	height:50vh;
	width:70vw;
	background-color:rgba(0,0,255,0.2);
}

.projectsection div:hover {
	background-color:rgba(0,100,255,0.2);
}

.projectsection div:active {
	background-color:rgba(150,100,255,0.2);
}

.projectsection img {
	display:block;
	height:20vh;
}

.projectsection a {
	color: white;
	text-decoration:none;
}

.section2 {
	display:flex;
	justify-content:space-evenly;
	align-items:center;
	height:70vh;
	width: 100vw;
	overflow:none;
	color:white;
}

.about-text {
		width: 40vw;
}

.about-img {
	display:flex;
	justify-content:center;
	align-items:center;
	width:fit-content;
	height:fit-content;
	padding:2rem;
	background-color:rgba(255,255,255,0.2);
	border-radius: 1em;
}
.profilepic {
	display:block;
	width: min(25vw, 300px);
	border-radius: 1em;
}

.section3 {
	display: flex;
	flex-direction:column;
	justify-content: center;
	align-items:center;
	height:70vh;
	width: 100vw;
	overflow:none;
	color:white;
}


.section3 h2 {
	text-align:center;
	font-size: 3em;
}

.section3 ul {
	text-decoration:none;
	list-style-type:none;
	width: 30vw;
	display:flex;
	justify-content:space-evenly;
	align-items:center;
	padding:0;
}

.section3 ul~a {
	text-decoration:none;
	display:block;
	color:white;
	font-size:2rem;
	margin-top: 1rem;
	margin-bottom:1rem;
}

.github {
	width: 80px;
	height:80px;
}

.github:hover {
	animation:1s rubberBand;
}

.linkedin {
	width: 100px;
	height:80px;
}

.linkedin:hover {
	animation:1s rubberBand;
}


footer {
	display:flex;
	justify-content:center;
	align-items:center;
	height: 10vh;
	width: 100vw;
	background-color: rgba(0,0,0,0.5);
	color:white;
	text-align:center;
}